@model RentCarsham.Models.Modelo

@{
    ViewData["Title"] = "Eliminar Modelo";
}

<header class="custom-header py-4">
    <h1 class="display-5 text-white">Eliminar Modelo</h1>
</header>

<div class="container">
    <div class="card shadow-lg rounded">
        <div class="card-body">
            <h4 class="card-title text-danger">¿Estás seguro de que deseas eliminar este modelo?</h4>
            <hr />

            <dl class="row">
                <dt class="col-sm-3 font-weight-bold text-dark">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-9 text-muted">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt class="col-sm-3 font-weight-bold text-dark">
                    @Html.DisplayNameFor(model => model.Caja)
                </dt>
                <dd class="col-sm-9 text-muted">
                    @Html.DisplayFor(model => model.Caja)
                </dd>

                <dt class="col-sm-3 font-weight-bold text-dark">
                    @Html.DisplayNameFor(model => model.CapacidadPersonas)
                </dt>
                <dd class="col-sm-9 text-muted">
                    @Html.DisplayFor(model => model.CapacidadPersonas)
                </dd>

                <dt class="col-sm-3 font-weight-bold text-dark">
                    @Html.DisplayNameFor(model => model.CapacidadMaletero)
                </dt>
                <dd class="col-sm-9 text-muted">
                    @Html.DisplayFor(model => model.CapacidadMaletero)
                </dd>

                <dt class="col-sm-3 font-weight-bold text-dark">
                    @Html.DisplayNameFor(model => model.Marca)
                </dt>
                <dd class="col-sm-9 text-muted">
                    @Html.DisplayFor(model => model.Marca.Nombre)
                </dd>
            </dl>

            <div class="text-center">
                <form asp-action="Delete" method="post">
                    <input type="hidden" asp-for="ModeloId" />
                    <button type="submit" class="btn btn-danger btn-lg">Eliminar Modelo</button>
                    <a asp-action="Index" class="btn btn-info btn-lg ml-2">Volver a la Lista</a>
                </form>
            </div>
        </div>
    </div>
</div>
