@model RentCarsham.Models.Modelo

@{
    ViewData["Title"] = "Detalles del Modelo";
}

<header class="custom-header py-4">
    <h1 class="display-5 text-white">Detalles del Modelo</h1>
</header>

<div class="container">
    <div class="card shadow-lg rounded">
        <div class="card-body">
            <h4 class="card-title">Modelo</h4>
            <hr />

            <dl class="row">
                <dt class="col-sm-3 font-weight-bold text-dark">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-9 text-muted">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt class="col-sm-3 font-weight-bold text-dark">
                    @Html.DisplayNameFor(model => model.Caja)
                </dt>
                <dd class="col-sm-9 text-muted">
                    @Html.DisplayFor(model => model.Caja)
                </dd>

                <dt class="col-sm-3 font-weight-bold text-dark">
                    @Html.DisplayNameFor(model => model.CapacidadPersonas)
                </dt>
                <dd class="col-sm-9 text-muted">
                    @Html.DisplayFor(model => model.CapacidadPersonas)
                </dd>

                <dt class="col-sm-3 font-weight-bold text-dark">
                    @Html.DisplayNameFor(model => model.CapacidadMaletero)
                </dt>
                <dd class="col-sm-9 text-muted">
                    @Html.DisplayFor(model => model.CapacidadMaletero)
                </dd>

                <dt class="col-sm-3 font-weight-bold text-dark">
                    @Html.DisplayNameFor(model => model.Marca)
                </dt>
                <dd class="col-sm-9 text-muted">
                    @Html.DisplayFor(model => model.Marca.Nombre)
                </dd>
            </dl>

            <div class="text-center">
                <a asp-action="Edit" asp-route-id="@Model?.ModeloId" class="btn btn-warning btn-lg">Editar Modelo</a>
                <a asp-action="Index" class="btn btn-info btn-lg ml-2">Volver a la Lista</a>
            </div>
        </div>
    </div>
</div>
